@model CTS2019.Models.DigitalCertificateModel

@{
    ViewBag.Title = "AddDigitalCertificate";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#DigitalCertificate').addClass("Active");
      
    })
</script>
<div>
    <label>hiiiiiiiii</label>
</div>